body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s, color 0.3s;
  }
  
  body.light {
    background-color: #E8E9DF;
    color: #ab0606;
  }
  
  body.dark {
    background-color: #242733;
    color: #F1F1F1;
  }
  
  .todo-container {
    background-color: inherit;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  }
  
  h1 {
    text-align: center;
  }
  
  .controls {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  input[type="text"] {
    padding: 10px;
    border: 2px solid #E7CA75;
    border-radius: 6px;
    background-color: #fff;
  }
  
  body.dark input[type="text"] {
    background-color: #3e4050;
    border-color: #F9A200;
    color: #E8E9DF;
  }
  
  button {
    padding: 8px 12px;
    border: none;
    border-radius:3.5px;
    cursor: pointer;
    background-color: #F9A200;
    color: #E8E9DF;
    font-weight: bold;
  }
  
  #toggleThemeBtn {
    align-self: flex-end;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    display: flex;
    align-items: center;
    gap: 5px;
    background: #ffffff;
    padding: 5px;
    margin-bottom: 8px;
    border-radius: 3.5px;
    transition: all 0.3s ease;
  }
  
  body.dark li {
    background: #3e4050;
  }
  
  li.completed .taskText {
    text-decoration: line-through;
    opacity: 0.6;
  }
  
  li input[type="checkbox"] {
    transform: scale(1.2);
    cursor: pointer;
  }
  
  li .deleteBtn {
    margin-left: auto;
    background: #537302;
    color: white;
  }
  
  li .deleteBtn:hover {
    background: #F9A200;
  }
  